

.App{
  width: 100vw;
  height: 100vh;
}

.move1{
  animation: move1 3s infinite;
}
.move2{
  animation: move1 5s infinite;
}
.move3{
  animation: move1 3s infinite;
}
.move4{
  animation: move1 5s infinite;
}


@keyframes move1 {
  0%,100%{
    transform: translate(0px,0px);
    
  }
  50%{
    transform: translate(20px,20px);
  }
}